<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Previsão de Preço de Veículos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/style.css">
</head>

<body>
    <div class="container">
        <h1>Simulador de Preço de Carros com Machine Learning</h1>
        {% if result %}
        <h3>Valor Estimado: $ {{result}}</h3>
        <a href="/">Estimar Novamente</a>
        {% endif %}
        {% if result == None %}
        <form action="/estimate" method="POST">
            <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <label>Tamanho do Motor (Valores: 1.3 - 8.3)</label>
                        <input type="text" class="form-control form-control-sm" name="new_car" placeholder="Engine Size" required>
                    </div>
                    <div class="col">
                        <label>Número de Cilindros (Valores: 3 - 12)</label>
                        <input type="text" class="form-control form-control-sm" name="new_car" placeholder="Cylinders" required>
                    </div>
                    <div class="col">
                        <label>Potência (Valores: 73 - 500)</label>
                        <input type="text" class="form-control form-control-sm" name="new_car" placeholder="Horse Power" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <label>Milhas Por Galão na Cidade (Valores: 10 - 60)</label>
                        <input type="text" class="form-control form-control-sm" name="new_car" placeholder="MPG City" required>
                    </div>
                    <div class="col">
                        <label>Milhas Por Galão na Estrada (Valores: 12 - 66)</label>
                        <input type="text" class="form-control form-control-sm" name="new_car" placeholder="MPG Hight" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <label>Peso em KG (Valores: 1850 - 7190)</label>
                        <input type="text" class="form-control form-control-sm" name="new_car" placeholder="Weight" required>
                    </div>
                    <div class="col">
                        <label>Tamanho da Roda (Valores: 89 - 144)</label>
                        <input type="text" class="form-control form-control-sm" name="new_car" placeholder="Wheel Base" required>
                    </div>
                    <div class="col">
                        <label>Comprimento (Polegadas Valores: 143 - 238)</label>
                        <input type="text" class="form-control form-control-sm" name="new_car" placeholder="Length" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <label>Montadora</label>
                        <select class="form-control form-control-sm" name="new_car" required>
                            <option value="acura">Acura</option>
                            <option value="audi">Audi</option>
                            <option value="bmw">BMW</option>
                            <option value="buick">Buick</option>
                            <option value="cadillac">Cadillac</option>
                            <option value="chevrolet">Chevrolet</option>
                            <option value="chrysler">Chrysler</option>
                            <option value="dodge">Dodge</option>
                            <option value="ford">Ford</option>
                            <option value="gmc">GMC</option>
                            <option value="honda">Honda</option>
                            <option value="hummer">Hummer</option>
                            <option value="hyundai">Hyundai</option>
                            <option value="infiniti">Infiniti</option>
                            <option value="isuzu">Isuzu</option>
                            <option value="jaguar">Jaguar</option>
                            <option value="jeep">Jeep</option>
                            <option value="kia">KIA</option>
                            <option value="land_rover">Land Rover</option>
                            <option value="lexus">Lexus</option>
                            <option value="lincoln">Lincoln</option>
                            <option value="mini">MINI</option>
                            <option value="mazda">Mazda</option>
                            <option value="mercedes-benz">Mercedes Benz</option>
                            <option value="mercury">Mercury</option>
                            <option value="mitsubishi">Mitsubishi</option>
                            <option value="nissan">Nissan</option>
                            <option value="oldsmobile">Oldsmobile</option>
                            <option value="pontiac">Pontiac</option>
                            <option value="porsche">Porsche</option>
                            <option value="saab">Saab</option>
                            <option value="saturn">Saturn</option>
                            <option value="scion">Scion</option>
                            <option value="subaru">Subaru</option>
                            <option value="suzuki">Suzuki</option>
                            <option value="toyota">Toyota</option>
                            <option value="volkswagen">Volkswagen</option>
                            <option value="volvo">Volvo</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <label>Body Type</label>
                        <select class="form-control form-control-sm" name="new_car" required>
                            <option value="hybrid">Hybrid</option>
                            <option value="suv">SUV</option>
                            <option value="sedan">Sedan</option>
                            <option value="sports">Sports</option>
                            <option value="truck">Truck</option>
                            <option value="wagon">Wagon</option>
                        </select>
                    </div>
                    <div class="col">
                        <label>Drive Train</label>
                        <select class="form-control form-control-sm" name="new_car" required>
                            <option value="4wd">4WD</option>
                            <option value="fwd">FWD</option>
                            <option value="rwd">RWD</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Estimar</button>
        </form>
        {% endif %}

        <footer class="mt-5">
            <p>Desenvolvido por <a href="https://www.linkedin.com/in/matheus-da-silva-soares/" target="_blank">Matheus da Silva Soares</a></p>
        </footer>
    </div>
</body>

</html>
